<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="background-color: #ABB7B7">
  <h1>Financial Services::Payment</h1>
</div>
  
<div class="container" style="background-color: #87D37C; border-radius: 15px;">  
  <div class="row">
    <div class="col-sm-8">
      <h3>e-Payment: Your payment transaction was received.</h3>
	</div>
  </div>	
  <div class="row">
   <div class="col-xs-6">
    <label for="fromAcct">Account Number: ${paymentTrx.FromAccountNumber}</label>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-6">
    <label for="amt">Amount: ${paymentTrx.Amount}</label>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-6">
    <label for="storeCode">Store Code: ${paymentTrx.StoreCode}</label>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-6">
    <label for="trxDateTime">Transaction Date & time: ${paymentTrx.TrxDateTime}</label>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-6">
     <a class="btn btn-default" href="http://efinancial.inv:8102/payment" style="background-color: #F89406;" role="button">Make another Payment</a>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-6">
    <p> </p>
   </div>
  </div>
 </form>
    </div>
 
</div>

</body>
</html>
